$colors: (primary: rgb(201, 41, 1),
secondary: rgb(165, 165, 165),
back: rgb(14, 14, 14),
active: rgb(194, 194, 194));


// Return color 
@function color($color-name) {
  @return map-get($colors, $color-name)
}