&__submit {
  padding: .5em;
  outline: none;
  vertical-align: middle;
  background-color: color(back);
  color: color(secondary);
  border: color(primary) groove;
  border-radius: .5em;
  cursor: pointer;
  @include large {
    padding: .3em;
    border-radius: .2em;
  }
  @include medium {
    margin-top: .5em;
    padding: .4em;
  }
  &:active {
    background-color: color(active);
    border: color(primary) solid;
  }
}