&__submit {
  outline: none;
  vertical-align: middle;
  padding: .3em;
  background-color: color(field);
  border: color(primary) solid;
  border-radius: .5em;
  @include large {
    padding: .1em;
    border-radius: .2em;
  }
  @include medium {
    margin-top: .05em;
    padding: .4em;
  }
  &:active {
    background-color: color(active);
    border: color(primary) solid;
  }
}