&__canvas {
  width: 50em;
  border: color(back) solid .5em;
  border-radius: .5em;

  @include large {
    width: 30em;
  }

  @include medium {
    width: 20em;
  }

  @include small {
    width: 15em;
  }
}