&__city {
  outline: none;
  vertical-align: middle;
  padding: .5em;
  background-color: color(back);
  color: color(secondary);
  border: color(primary) groove;
  border-radius: .2em;
  @include large {
    padding: .3em;
    border-radius: .2em;
  }
  @include medium {
    padding: .05em;
  }
}