&__nav {
  display: inline-block;
  width: 20em;
  line-height: 4em;
  overflow: hidden;
  list-style: none;
  background-color: color(back);
  border: color(primary) groove;

  @include large {
    width: 12em;
    line-height: 3em;
  }

  @include medium {
    width: 8em;
    line-height: 2em;
  }

  @include small {
    width: 5em;
    line-height: 1em;
  }
}

&__item-home {
  text-decoration: none;
  color: color(primary);
  font-size: 4em;
  vertical-align: middle;

  @include large {
    font-size: 3em;
  }

  @include medium {
    font-size: 2em;
  }

  @include small {
    font-size: 1em;
  }
}